*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h1,h4{    
    font-style: italic;
}
.banner{
    background-image: url(./assets/design1_image1.jpg);
    width: 100%;
    height: 45vh;
    background-size: cover;
    background-position: 0% 25%;
}
nav>a{
    background-color: #4141c4;
    color: white;
    text-decoration: none;
    margin: 2px;
    padding: 1px 12px;
    border: 1px solid black;
    display: inline-block;
}
nav>a:hover{
    background-color: rgb(43, 150, 43);
}
nav{
    position: absolute;
    top: 30px;
    right: 50px;
}
footer{
    margin-bottom: 50px;
}
h2{
    border: 1px solid black;
    text-align: center;
}
.logo{
    width: 10vw;
}
div{
    display:inline-block;
}
.parrafos{
    width: 89vw;
}
p, .pfootergame1{
    text-indent: 25px;
}
.parraforules{
    text-align: center;
    font-size: larger;
}
.navrules{    
    position: absolute;
    top: 47px;
    right: 50px;    
}
ol, ul{
    list-style-position: inside;    
    font-size: larger;
}
.olletras{
    list-style-type:lower-alpha;
    font-size: large;
}
ul{
    list-style-type: circle;
}
.parraforules2{
    font-size: larger;
}
.h1game, .h1rules{
    text-align: center;   
    font-size: 35px;
}
.h2game{
    border: none;
    position: absolute;
    font-size: 30px;
}
.navgame{
    position: absolute;
    top: 47px;
    right: 50px;
}
table, .divgame{
    font-size:x-large;
}
table{
    margin: 3rem;
}
section{
    display: flex;
    justify-content: center;
}
.pgame1, .pgame2{
    display: inline-block;
}
.pgame2{
    position: absolute;
    right: 50px;
}
caption{
    text-align: left;
    padding-bottom: 1rem;
}
th, td{
    padding-right: 80px;
    padding-bottom: 10px;
}