*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
main{
    margin: 0 2rem;
}
footer{
    margin-bottom: 50px;
}
h1, .h4parrafos{    
    font-style: italic;
}
.banner{
    background-image: url(./assets/design1_image1.jpg);
    width: 100%;
    height: 45vh;
    background-size: cover;
    background-position: 0% 25%;
}
nav>a{
    background-color: #4141c4;
    color: white;
    text-decoration: none;
    margin: 2px;
    padding: 1px 12px;
    border: 1px solid black;
    display: inline-block;
}
nav>a:hover{
    background-color: rgb(43, 150, 43);
}
nav{
    position: absolute;
    top: 30px;
    right: 50px;
}
h2{
    border: 1px solid black;
    text-align: center;
    margin: 1rem;
}
.divparrafos{
    display:flex;
}
.divparrafos>div{
    margin: 1rem;
}
.logo{
    width: 10vw;
}
h3{
    margin: 1rem;
}
.parrafos{
    width: 80vw;
    font-size: larger;
}
p{
    text-indent: 25px;
}


/*Style para rules*/


.h3rules{
    margin: 1rem;
    font-size: x-large;
}
.parraforules{
    text-align: center;
    font-size: x-large;
}
.parraforules2{
    font-size: larger;
}
ol, ul{
    list-style-position: inside;    
    font-size: larger;
}
.olletras{
    list-style-type:lower-alpha;
    font-size: large;
}
ul{
    list-style-type: circle;
}



/*Style para game-info*/



table{    
    font-size: x-large;
    margin: 3rem;
    padding: 1rem;
    background-color: beige;
    border: 5px solid rgb(2, 0, 141);
}
caption{
    text-align: left;
    padding-bottom: 1rem;
}
th, td{
    border: 1px solid black;
    padding: 5px 80px 10px 15px;
}
.divgame1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.divgame2{
    font-size: x-large;
    margin: 2rem;
}
.divgame3{
    font-size: x-large;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: flex-start;
    align-content: flex-start;
}
.divgame2>div{
    display: flex;
    justify-content: space-between;
}
.divgame3>div{
    margin: 2rem;
}
.h3game{
    font-size: x-large;
    margin: 2rem;
    text-align: center;
    text-decoration: underline;
}



/*Style para registration*/



.divregistration{
    display: flex;
    justify-content: center;
}
form{
    border: 3px solid black;
    margin: 1rem;
    width: 60vw;
    font-size: x-large;
    background-color: rgb(250, 250, 218);
}
fieldset{
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}
fieldset>fieldset{
    border: none;
    margin: 0;
    padding: 0;
}
label{
    margin: 10px;
}
.h3registration{
    margin: 1rem;
}
fieldset>p{
    margin-bottom: 1rem;
}
fieldset label{
    display: block;
}
.spanregistration{
    text-decoration: underline;
}
.boton{
    display: flex;
    justify-content: center;
}
#boton{
    background-color: rgb(221, 221, 221);
    margin: 1rem 0 2rem 0;
    border: 2px solid rgb(42, 50, 126);
    padding: 10px 15px;
    border-radius: 10px;
    font-size: large;
}
#boton:hover{
    background-color: rgb(210, 233, 255);
}


/*Media Queries*/


@media only screen and (max-width: 1200px){
    table{
        font-size: larger;
    }
    th, td{
        padding: 5px 59px 5px 10px;
    }
    form{
        width: 70vw;
    }    
}
@media only screen and (max-width: 700px){
    table{
        font-size: small;
    }
    th, td{
        padding: 5px 23px 5px 5px;
    }
    form{
        width: 100vw;
    }
}